@model UserViewModel


    <div class="admin-content-wrapper">

        <div class="admin-section-title">

            <h2>Change Password</h2>

        </div>

        <form asp-action="UserPasswordUpdate" asp-controller="Account" method="post">
                <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" style="width:200px" />          
        </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input name="newPassword" style="width:200px" oninput="checkIfPassConfirmed()" id="password" type="password" class="form-control" placeholder="Enter Password">
                <span id="password-length" hidden="hidden" style="color: red;" class="text-danger">Password must be at least 6 characters long</span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input oninput="checkIfPassConfirmed()"style="width:200px" id="password-confirm" type="password" class="form-control" placeholder="Re-type password again">
                <span id="password-validation" hidden="hidden" style="color: red;" class="text-danger">Passwords do not match</span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 mt-10">

                        <button type="submit" class="btn btn-primary" id="register-button" style="color:floralwhite;">SaveChanges</button>
                    </div>
                </div>
            </div>
        </form>

    </div>




