@model UserViewModel


<div class="admin-content-wrapper">

    <div class="admin-section-title">

        <h2>@Model.FirstName's profile</h2>

    </div>

    <div class="container">
        <div class=" row">
            <div class="col-lg-6">
                <h4>Username:@Model.UserName</h4>
                <br />
                <h4> First name:@Model.FirstName</h4>
                <br />
                <h4>Last name:@Model.LastName</h4>
                <br />
                <h4>Account type:@Model.AccountType</h4>
                <br />
                <h4>Account status:@Model.AccountStatus</h4>
            </div>
        </div>
    </div>


</div>

