@model CocktailCommentListViewModel
@if (!Model.CocktailComments.Any())
{
    <p>There aren't any comments written yet</p>
}
<ul class="comment-item">
    @foreach (var comment in Model.CocktailComments)
    {
        <li>
            <div class="comment-avatar">
                <img src="@Url.Action("GetProfilePic", "Account", new { id = comment.UserId })" alt="author image" />
            </div>
            <div class="comment-header">
                <h6 class="heading mt-0">@comment.UserName</h6>
                <span class="comment-time">@comment.CreatedOn</span>
            </div>
            <div class="comment-content">
                <p>@comment.Comment</p>
            </div>
        </li>
    }
</ul>